<h2>User info</h2>
<%= image_tag user.get_profile_image(100,100) %>
<table class="table">
  <tbody>
    <tr></tr>
    <tr>
      <th>name</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= user.introduction %></th>
    </tr>
    <tr>
      <th>followings</th>
      <th>
        <%= link_to user_followings_path(user) do %>
          <span class="following_count_<%= user.id %>">
            <%= user.followings.count %>
          </span>
        <% end %>
      </th>
    </tr>
    <tr>
      <th>follower</th>
      <th>
        <%= link_to user_followers_path(user) do %>
          <span class="follower_count_<%= user.id %>">
            <%= user.followers.count %>
          </span>
        <% end %>
      </th>
    </tr>
  </tbody>
</table>

<div class="row">
  <% if current_user == user %>
    <%= link_to edit_user_path(user), class:'btn btn-outline-secondary btn-block edit_user_104657' do %>
      <i class="fas fa-user-cog"></i>
    <% end %>
  <% else %>
    <div class="follow_<%= user.id %>">
      <%= render 'relationships/follow_form', user: user %>
    </div>
  <% end %>
</div>